@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    font-family: "Poetsen One", sans-serif;
    margin: 0;
}

header {
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
    align-items: center;

    transition: 1s ease;
}

img {
    width: 100px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

#logo {
    display: flex;
}

a {
    color: #4d8aff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

#landing-page {
    /* margin-top: -93.92px; */
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('pozadina.jpg');
    background-size: cover;
    background-position: center;
    /* kako centrirati bilo sta */
    display: flex;
    justify-content: center;
    align-items: center;
    /* popravljamo da itemi budu jedan ispod drugogo */
    flex-direction: column;
}

button {
    padding: 10px;
    background-color: #4d8aff;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    transition: 1s ease;
}

button:hover {
    background-color: white;
    color: #4d8aff;
}

.scroll {
    background-color: white;
    border-bottom: 2px solid gray;
}

#naslov {
    margin: 0;
    color: white;
    font-size: 60px;
}

footer {
    background-color: white;
    position: fixed;
    width: 80%;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;
}

.footer-ul {
    flex-direction: column;
    text-align: center;
}

#quzies-naslov {
    text-align: center;
    font-size: 50px;
}

#quizes {
    margin-bottom: 93.92px;
}

#quizes-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quiz {
    border: 2px solid gray;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}

.ocena {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    width: 25px;
}